@font-face {
  font-family: ZpixReviewLocal;
  src: url(./zpix.woff2?v2022-07-12);
}

@font-face {
  font-family: ZpixReviewOnline;
  src: url(https://zpix.now.sh/zpix.woff2?v2021-03-21);
}

body {
  background: #333;
  color: #fff;
  font-family: ZpixReviewLocal, ZpixReviewOnline, sans-serif;
}
a {
  color: #fff;
}
a:hover {
  color: #aaa;
}
h1,
h2 {
  border-bottom: 1px dashed #444 !important;
}

h1 a {
  text-indent: -10000px;
  display: block;
  height: 0;
}
h1:after {
  content: "Simon Guo";
}

.markdown-body {
  background: #292929;
  color: #fff;
  font-family: ZpixReviewLocal, ZpixReviewOnline, sans-serif !important;
  padding: 10px 0;
  border: 1px dashed #444;
}

